<!-- m<ain Content-->
<div class="main-content">
  <!-- Logo-->
  <img
    src="../assets/img/chucknorris_logo_coloured_small@2x.png"
    alt="Chuck Norris Logo"
    class="logo"
  />
  <!-- End of Logo -->

  <!-- Search -->
  <div class="search-content">
    <input type="text" placeholder="Enter your Search Term" />
    <button type="button">Search</button>
  </div>
  <!-- End of Search -->

  <!-- Categories -->
  <div class="categories">
    <span class="category">Category</span>
    <span class="category"> Category </span>
    <span class="category">Category</span>
  </div>
  <!-- End of Categories -->

  <!-- Jokes -->
  <div class="joke-wrapper">
    <div class="joke">
      <img src="../assets/img/Jokes-about-Chuck-Norris-1024x683.jpg" alt="" />
      <p>Funny Jokes</p>
    </div>
  </div>
  <div class="joke-wrapper">
    <div class="joke">
      <img src="../assets/img/Jokes-about-Chuck-Norris-1024x683.jpg" alt="" />
      <p>Funny Jokes</p>
    </div>
  </div>
  <div class="joke-wrapper">
    <div class="joke">
      <img src="../assets/img/Jokes-about-Chuck-Norris-1024x683.jpg" alt="" />
      <p>Funny Jokes</p>
    </div>
  </div>

  <!-- End of Jokes -->
</div>
<!--End of Main Content-->
